<mat-card *ngIf="(post$ | async) as post">
  <mat-card-title>{{ post.title }}</mat-card-title>
  <mat-card-content>{{ post.body }}</mat-card-content>
</mat-card>
<mat-card *ngIf="(commentsLoaded$ | async)">
  <mat-card-subtitle>Comments</mat-card-subtitle>
  <mat-card-content>
    <app-comment-tree [comments]="comments$ | async"
                      [commentEntities]="commentEntities$ | async"
                      [votes]="commentVotes$ | async"></app-comment-tree>
  </mat-card-content>
</mat-card>
